<ion-header class="header">
  <ion-toolbar>
    <ion-title>Favoriten</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col class="image-container">
          <div class="image-wrapper">
            <img src="assets/favorites.png" alt="Favoriten" />
            <div class="image-overlay">
              Favoriten
            </div>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  <app-recipe-list [recipes]="recipes"/>
</ion-content>