<ion-header class="header">
  <ion-toolbar>
    <ion-title>Favoriten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
      <ion-item *ngFor="let recipe of recipes">
        <ion-thumbnail slot="start"  [routerLink]="['/app/detail', recipe._id]">
          <img [src]="recipe.image" alt="{{recipe.title}}">
        </ion-thumbnail>
        <ion-label [routerLink]="['/app/detail', recipe._id]">
          <h2>{{ recipe.title }}</h2>
          <p color="light">{{ recipe.portionsangabe}}</p>
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="toggleFavorite(recipe)">
          <ion-icon 
            [name]="recipe.isFavorite ? 'heart' : 'heart-outline'" 
            color="secondary">
          </ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
</ion-content>