<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="restaurant"></ion-icon>
      Rezepte
    </ion-tab-button>
    <ion-tab-button tab="favs">
      <ion-icon name="heart-outline"></ion-icon>
      Favoriten
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
      Hinzuf&uuml;gen
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Suchen
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>