<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home"><!--</ion-tab-button> [routerLink]="['/']">-->
      <ion-icon name="restaurant"></ion-icon>
      Rezepte
    </ion-tab-button>
    <ion-tab-button tab="favs"><!--</ion-tab-button> [routerLink]="['/app/favs']">-->
      <ion-icon name="heart-outline"></ion-icon>
      Favoriten
    </ion-tab-button>
    <ion-tab-button tab="add"><!--</ion-tab-button> [routerLink]="['/app/add']">-->
      <ion-icon name="add-circle-outline"></ion-icon>
      Hinzuf&uuml;gen
    </ion-tab-button>
    <ion-tab-button tab="search"><!--</ion-tab-button> [routerLink]="['/app/search']">-->
      <ion-icon name="search"></ion-icon>
      Suchen
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>