<!--<ion-header class="header">
  <ion-toolbar>
    <ion-title>Rezept suchen</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content [fullscreen]="true">  
  
  <ion-grid>
    <ion-row>
      <ion-col class="image-container">
        <div class="image-wrapper">
          <img src="assets/search2.png" alt="Favoriten" />
          <div class="image-overlay">
            Suche
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar show-clear-button="always" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  <app-recipe-list [recipes]="results"/>
  <div *ngIf="isLoading"  style="padding-top:5px; text-align: center;margin-bottom: 50%;">
    <div style="margin: 0 auto;">
      <img src="../../../assets/loader.gif" style="height:64px;width:64px"/> 
    </div>
  </div>
</ion-content>
