<ion-header class="header">
  <ion-toolbar>
    <ion-title>{{getName()}} ({{getRecipes().length}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col class="image-container">
          <div class="image-wrapper">
            <img [src]="getImage()" alt="{{getName()}}" />
            <div class="image-overlay">
              {{ getName() }}
            </div>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
  <app-recipe-list [recipes]="getRecipes()"/>
</ion-content>

<div *ngIf="isLoading"  style="padding-top:5px; text-align: center;margin-bottom: 50%;">
  <div style="margin: 0 auto;">
    <img src="../../../assets/loader.gif" style="height:64px;width:64px"/> 
    <div>Lade Rezepte...</div>
  </div>
</div>