<ion-header class="header">
  <ion-toolbar>
    <ion-title>Familienrezepte</ion-title>
  </ion-toolbar>
</ion-header>

  <div *ngIf="isLoading"  style="padding-top:5px; text-align: center;margin-bottom: 50%;">
    <div style="margin: 0 auto;">
      <img src="../../../assets/loader.gif" style="height:64px;width:64px"/> 
      <div>Lade Rezepte...</div>
    </div>
  </div>

  <ion-content>
    <ion-list>
      <ion-accordion-group #accordionGroup>
        <ion-accordion *ngFor="let category of categories" [value]="category._id">
          <ion-item slot="header">
            <ion-icon name="list" slot="start"></ion-icon>
            <ion-label>{{ category.name }}  ({{category.recipes?.length}})</ion-label>
          </ion-item>
  
          <app-recipe-list [recipes]="category.recipes" slot="content"/>
         
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>

  </ion-content>